In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('Walmart.csv', encoding_errors='ignore')

In [3]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [4]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [5]:
df.duplicated().sum()
## some duplicate values are present

np.int64(51)

In [ ]:
## dropping duplicates
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

In [ ]:
## missing values
df.isnull().sum()

In [ ]:
## dropping null values
df.dropna(inplace=True)

In [ ]:
## changing datatype of unit price to float after replacing "$"
df['unit_price']=df['unit_price'].str.replace("$","").astype(float)
df.head()

In [ ]:
## making new column
df['total']=df['unit_price']*df['quantity']

In [ ]:
## making seperate file for cleaned data
df.to_csv('walmart_cleaned.csv',index=False)

In [ ]:
## making connection with MySQL
engine = create_engine("mysql+pymysql://root:admin123@localhost:3306/walmart_db")
try:
    print("connection successful")
except:
    print("unable to connect")

In [ ]:
## exporting data to mysql
df.to_sql(name='walmart',con=engine,if_exists='append',index=False)

In [ ]:
## changing column name to lowercase
df.columns = df.columns.str.lower()
df.columns